<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <title>Dynamic Website</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/id">Contact</a>
        </li>
        
      </ul>
     
    </div>
  </div>
</nav>

<!------About Section- start--------->
<div class = "container-fluid mt-5 about-style" id ="aboutid">
  <div class = "row">
    <div class = "col-md-10 col-12 mx-auto">
      <h1 class = "text-center main-heading">About us</h1>
      <p class ="text-center sub-heading">Grow Your Bussiness With Us</p>
    <div class = "row">
       <div class = "col-md-6 col-12 sky-text ">
        <figure>
          <img src ="images/web.jpg">
        </figure>
      </div>
      <!-----------------------right side--------->
     
      <div class = "col-md-6 col-12 sky-text  d-flex justify-content-center align-items-start flex-column">
        <h1> WE ARE THE PROFFESIONAL DEVELOPER</h1>
        
        <P>Welcome to <span class = "bold-style">@Er_Sky Dynamic Website </span></P>
        <button class = "btn-style btn-primary">Read More</button>
      </div>
    </div>
    </div>
  </div>
</div>
    <!----------------end----------------------->


    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
  </body>
</html>